<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.大号 {
	font-size: 24px;
}
</style>
</head>

<body>
<table width="824" height="428" border="0" align="center">
  <tr>
    <td width="818" align="center" valign="middle" background="static/pic/cloud.jpg"><span class="大号">中山大学课室申请</span>
<table width="545" border="0" align="center">
  <tr>
        <td width="120">开始时间：</td>
        <td width="415"><label for="textfield"></label>
          <input type="text" name="st" id="st" value="{{stTime}}"/>
      </tr>
        <tr>
        <td width="120">结束时间：</td>
        <td width="415"><label for="textfield"></label>
          <input type="text" name="en" id="en" value="{{enTime}}"/></td>
      </tr>
      <tr>
        <td>人数：</td>
        <td><form id="form1" name="form1" method="post" action="">
          <label for="textfield2"></label>
          <input type="text" name="area" id="area" value="{{area}}"/>
        </form></td>
      </tr>
      
      <tr>
        <td>用途：</td>
        <td><label for="yongtu"></label>
          <select name="yongtu" size="1" id="yongtu">
            <option>活动</option>
            <option>会议</option>
          </select></td>
      </tr>
      
      <tr>
      <input type="submit" name="submit" value="查询"/>
      </tr>
      
      {% for u in posts %}
      
      <tr>
        <td>{{u.name}}</td>
        <td><p>课室大小：可容纳{{u.area}}人；空闲时间：{{u.st}}~{{u.en}}；</p>
          <p><a href="{{u.detail}}">详细</a></p></td>
      </tr>
      
      {% endfor %}
      
  </table></td>
  </tr>
</table>
</body>
</html>
